DJANGO_jdm=dlprsg22$o97iym0z65#o*(i@=%eaqo)+nq*=1c^uh1q*2=django-insecure-8a9f7g6h5j4k3l2m1n0bvcxz
DJANGO_DEBUG=True
TASK_VERSION=3

POSTGRES_DB=teamfinder
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432